

.about_me{
  font-family: 'Roboto Slab', serif;
  display: flex;
  margin: 1em;
}
image{
  padding-right: 1em;
}
.text{
  margin: 1em;
  line-height: 1.6em;
}



@media only screen and (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }

  .about_me{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: center;
  }
  .image {
    text-align: center;
  }
  .image img{
    width: 400px;
    height: 400px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .text{
    margin: 0;
  }
}

@media only screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
  }

  .about_me{
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: center;
  }
  .image img{
    width: 300px;
    height: 300px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .text{
    margin: 0;
  }
}
