.about_me {
  font-family: "Crimson Text", serif;
  display: flex;
  margin-left: 6em;
  margin-right: 6em;
}
image {
  padding-right: 1em;
}
.text {
  margin: 1em;
  line-height: 1.6em;
  max-width: 40em;
  font-size: 20px;
}

@media only screen and (max-width: 950px) {
  html,
  body {
    overflow-x: hidden;
  }

  .about_me {
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
  }
  .image {
    text-align: center;
  }
  .image img {
    width: 300px;
    height: 400px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    margin: 0;
    text-align: justify;
  }
}

@media only screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
  }

  .about_me {
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: center;
    align-content: center;
  }
  .image img {
    width: 200px;
    height: 300px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    margin: 0;
  }
}
