html {
  font-family: 'Hind Siliguri', sans-serif;
}
form {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
form input {
  margin: 1.2em;
}
.menu_image {
  height: 2em;
  width: 3em;
}

input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid grey;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

div {
  margin: 0.5em;
}

textarea#message {
  display: block;
  width: 25em;
  height: 6em;
  border: 1px solid gray;
}

@media only screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
  }
  .menu_image {
    height: 1.2em;
    width: 1.5em;
  }
}
