html {
  font-family: 'Hind Siliguri', sans-serif;
}
.container{

}
fieldset{
  max-width: 55%;;
  margin-left: auto; 
  margin-right: auto; 
  border: none;
}

.menu_image {
  height: 2em;
  width: 3em;
}

input {
  width: -webkit-fill-available;  
  padding: 12px;
  border: 1px solid grey;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

div {
  margin: 1em;
  padding-bottom: .5em;
}

textarea#message {
  display: block;
  width: -webkit-fill-available;  
  height: 6em;
  border: 1px solid gray;
}
.submit{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media only screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
  }
  .menu_image {
    height: 1.2em;
    width: 1.5em;
  }
  fieldset {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}
