input{
  display: block;
  width: 75%;
  height: 1.7em;
  border: 1px solid gray;
}

div{
  margin: .5em;
}

textarea#message{
  display: block;
  width: 25em;
  height: 6em;
  border: 1px solid gray;

}